<div class="container">
  <div class="login-content">
    <img src="assets/img/bus/logo.png" alt="BusCompany Logo" class="logo" />
    <h2>BusCompany</h2>
  </div>

  <form>
    <div class="d-flex-column">
      <label class="form-label">Login</label>
      <input class="form-control" type="email" placeholder="Digite seu email" />
    </div>

    <div class="d-flex-column">
      <label class="form-label">Senha</label>
      <input class="form-control" type="password" placeholder="Digite sua senha" />
    </div>
  </form>

  <button class="button primary-blue" (click)="goToHome()">Entrar</button>

  <div>
    <p class="register-text">Novo por aqui? <a href="#">Cadastrar-se</a></p>
    <div class="forgot-password">
      <a href="#">Esqueceu a senha?</a>
    </div>
  </div>
</div>
